$main-color: #1182a4;
$main-color-dark: #0b697b;
$white: white;
$light-gray: #f0f0f0;
$bg-color: #ebecf2;
$bg-color-secondary: #fffdfb;
$bg-color-dark: #333;
$black: #000;
$border-color: rgba($black, 0.1);
$shadow-color: rgba($black, 0.1);
$text-color: rgba($black, 0.7);
