@use './colors' as colors;
@use './variables' as variables;
@import './animations';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
html {
	overflow-x: hidden;
}

html {
	scroll-padding-top: 75px;
}

body {
	background-color: colors.$bg-color;
	font-family: 'League Spartan', sans-serif;
	font-weight: 400;
}

hr {
	margin: 20px auto;
	text-align: center;
	width: 75%;
	border: none;
	border-top: 2px solid colors.$black;
}

section {
	scroll-margin-top: 18px;
}

ul {
	margin-bottom: 0;
	list-style-type: square;
}

.blue-text {
	color: colors.$main-color;
}

.shadow-bg {
	background-color: rgba(0, 0, 0, 0.8);
}

.section-title {
	text-align: center;
	text-transform: uppercase;
}

.underline {
	margin: 0 auto 40px;
	width: 60px;
	height: 4px;
	background-color: colors.$main-color;
}

nav {
	text-transform: uppercase;
	z-index: 5;
	transition: background-color 0.6s;

	#nav-icon {
		width: 60px;
		height: 45px;
		position: relative;
		margin: auto 0 auto auto;
		right: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		transform: scale(0.6);
		-webkit-transition: 0.5s ease-in-out;
		-moz-transition: 0.5s ease-in-out;
		-o-transition: 0.5s ease-in-out;
		transition: 0.5s ease-in-out;
		cursor: pointer;
	}

	#nav-icon span {
		display: block;
		position: absolute;
		height: 9px;
		width: 100%;
		background: colors.$main-color;
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: 0.25s ease-in-out;
		-moz-transition: 0.25s ease-in-out;
		-o-transition: 0.25s ease-in-out;
		transition: 0.25s ease-in-out;
	}

	#nav-icon span:nth-child(1) {
		top: 0px;
	}

	#nav-icon span:nth-child(2) {
		top: 18px;
	}

	#nav-icon span:nth-child(3) {
		top: 36px;
	}

	#nav-icon.open span:nth-child(1) {
		top: 18px;
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		-o-transform: rotate(135deg);
		transform: rotate(135deg);
	}

	#nav-icon.open span:nth-child(2) {
		opacity: 0;
		left: -60px;
	}

	#nav-icon.open span:nth-child(3) {
		top: 18px;
		-webkit-transform: rotate(-135deg);
		-moz-transform: rotate(-135deg);
		-o-transform: rotate(-135deg);
		transform: rotate(-135deg);
	}

	.nav-item {
		opacity: 0;
		transform: translateY(20px);
		transition: opacity 0.5s ease, transform 0.5s ease;

		&.show {
			opacity: 1;
			transform: translateY(0);
		}

		&::after,
		&::before {
			transition: 0.3s;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 3px;
			width: 100%;
			background-color: colors.$main-color;
			transform: scaleX(0);
		}

		&:hover::after {
			transform: scaleX(1);
		}
	}

	.navbar-toggler {
		padding: 15px;
		width: 0;
	}

	.navbar-brand {
		font-weight: bold;
		font-size: 1.4rem;

		img {
			margin: 0.5rem;
			height: 2rem;
			width: auto;
		}
	}

	.nav-link,
	.navbar-nav .nav-link.show,
	.navbar-brand,
	.fa-bars {
		color: colors.$white;
	}

	.navbar-nav .nav-link.active,
	.navbar-nav .nav-link.show,
	.navbar-brand:focus,
	.navbar-brand:hover,
	.nav-link:focus,
	.nav-link:hover {
		color: colors.$light-gray;
	}
}

.link {
	position: relative;
	display: inline-block;

	&::after,
	&::before {
		transition: 0.3s;
	}

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 3px;
		width: 100%;
		background-color: colors.$main-color;
		transform: scaleX(0);
	}

	&:hover::after {
		transform: scaleX(1);
	}
}

header.hero-img {
	position: relative;
	height: 100vh;
	background-image: url('../../dist/img/petrol_station_small.jpg');
	background-size: cover;
	background-position: center center;
	background-attachment: scroll;
	color: colors.$white;
	z-index: 0;

	h1 {
		text-transform: uppercase;

		img {
			padding-right: 0.5rem;
			width: 3rem;
		}
	}

	.hero-shadow {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgb(0, 0, 0, 0.7);
		z-index: -5;
	}

	.hero-txt {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	.fa-chevron-down {
		display: block;
		position: absolute;
		bottom: 20px;
		left: 50%;
		padding: 40px;
		transform: translateX(-50%);
		font-size: 20px;
		color: colors.$white;
		animation: bounce 1s infinite;
		transition: transform 0.3s ease-in-out;
	}
}

// =============================
// ABOUT US
// =============================

.aboutus {
	i {
		margin-top: 20px;
		font-size: 30px;
	}

	.aboutus-card-title {
		font-size: 18px;
		text-transform: uppercase;
	}

	.aboutus-card-text {
		font-size: 14px;
	}

	.aboutus-hover {
		transition: color 0.6s;
	}

	.aboutus-hover:hover {
		color: colors.$main-color;
	}
}

// =============================
// PETROL STATIONS
// =============================

.petrol-stations {
	background: linear-gradient(120deg, colors.$light-gray, colors.$white);

	h3 {
		margin-right: auto;
		text-transform: capitalize;
		font-size: 1.7rem;
		transition: color 0.3s;
		cursor: default;

		&:hover {
			color: colors.$main-color;
		}
	}

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2em;

		&-img {
			overflow: hidden;
		}

		&-text {
			width: 100%;
		}
	}

	&__img {
		width: 100%;
		height: 100%;
	}

	&__title {
		padding-bottom: 0.7em;
		font-size: 1.8rem;
	}

	&__details {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.station-info {
			display: flex;
			flex-direction: column;
			justify-content: start;
			align-items: start;
			text-align: left;
		}

		.station-amenities {
			display: flex;
			flex-direction: column;
			justify-content: start;
			align-items: start;
		}
	}

	iframe {
		width: 100%;
		height: 250px;
		border: none;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	}

	p {
		padding: 0.2em;
	}
}

// =============================
// FUEL DISTRIBUTION
// =============================

.fuel-distribution {
	position: relative;
	background-image: url('../../dist/img/fuel-distribution_backing_small.jpg');
	background-size: cover;
	background-position: center center;
	z-index: 0;

	h2 {
		color: colors.$white;
	}

	&__img {
		width: 100%;
	}

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 2em;
		gap: 2rem;

		&-img {
			width: 80vw;
		}

		&-text {
			color: colors.$white;
		}
	}

	&__title {
		color: colors.$light-gray;
		font-weight: 500;
		font-size: 2.4em;
	}

	&__text {
		font-size: 1.3rem;
		line-height: 1.8em;
		text-justify: auto;
	}

	&-shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: -5;
	}
}

// =============================
// CONSTRUCTION
// ============================

.construction {
	background: linear-gradient(120deg, colors.$light-gray, colors.$white);

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__text {
		font-size: 1.2rem;
		line-height: 1.8em;
		color: rgba(0, 0, 0, 0.8);
		text-align: center;
		padding: 1rem 2rem;
		order: 1;
	}

	&__img {
		height: 100%;
		width: 100%;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}
}

// =============================
// PARTNER
// ============================

.partner {
	background: linear-gradient(120deg, colors.$light-gray, colors.$white);

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__text {
		font-size: 1.2rem;
		line-height: 1.8em;
		color: rgba(0, 0, 0, 0.8);
		text-align: center;
		padding: 2rem 2rem;
		order: 1;
	}

	&__img {
		height: 100%;
		width: 100%;
	}

	a {
		margin: 0.3rem;
		color: colors.$main-color-dark;
		font-size: 1.8rem;
		text-decoration: none;
	}
}

// =============================
// MACHINERY-SALES
// =============================

.machinery-sales {
	&__link {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		width: 100%;
		max-width: 800px;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform 0.3s;

			&:hover {
				transform: scale(1.05);
			}
		}
	}
}

// =============================
// CONTACT
// =============================

.contact {
	position: relative;

	.section-title {
		color: colors.$black;
	}

	.contact-item {
		color: colors.$bg-color-dark;
		margin: 30px 0;

		.contact-title {
			color: colors.$black;
			text-transform: uppercase;
			font-size: 1.5rem;
			letter-spacing: 1px;
		}

		.contact-text {
			.social-media__box {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;

				a {
					padding: 5px;
				}
			}

			a {
				padding: 25px;
				font-size: 25px;
				color: colors.$black;
				transition: color 0.3s;
			}

			a:hover {
				color: colors.$main-color;
			}
		}
	}
}

// =============================
// OFFERS
// =============================

.offers {
	padding: 10rem 0;
	background: linear-gradient(120deg, colors.$white, colors.$light-gray);

	&__grid {
		display: flex;
		flex-wrap: wrap;
		gap: 1.5rem;
		justify-content: center;
	}

	.offer {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		flex: 1 1 100%;
		max-width: 100%;
		background-color: colors.$white;
		border: 1px solid rgba(0, 0, 0, 0.1);
		overflow: hidden;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

		&__video-link {
			margin: 0.8rem auto;
			text-align: center;

			a {
				color: colors.$main-color;
				text-decoration: none;
			}
		}

		&__img {
			width: 100%;
			min-height: 230px;
			height: 230px;
			overflow: hidden;

			.offer__image {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: transform 0.3s ease-in-out;

				&:hover {
					transform: scale(1.05);
					filter: brightness(1.05);
				}
			}
		}

		&__price-row {
			display: flex;
			align-items: center;
			margin: 0 1.1rem;
			padding: 0;

			.offer__toggle {
				margin-left: auto;
				background-color: colors.$white;
				border: none;
				padding: 0.4rem 0.8rem;
				cursor: pointer;
				font-size: 1.2rem;
			}
		}

		&__price {
			margin-bottom: 0;
			width: 100%;
			text-align: left;
			color: colors.$main-color-dark;
			font-size: 1.3rem;
			font-weight: 500;

			strong {
				color: colors.$black;
			}
		}

		.offer-info {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: auto;
			height: 30px;
			text-align: center;
			width: 100%;
			background-color: colors.$bg-color;

			p {
				margin-bottom: 0;
			}

			a {
				text-decoration: none;
				color: colors.$main-color;
				transition: color 0.3s;

				&:hover {
					color: colors.$bg-color-dark;
				}
			}
		}

		&__title {
			padding: 1rem 0 0 1rem;
			width: 100%;
			text-align: left;
			font-size: 1.5rem;
			font-weight: 400;
			color: colors.$main-color;
			text-transform: uppercase;
		}

		&__description {
			strong {
				margin: 1rem 1.5rem;
			}

			font-size: 1rem;
			margin: 0 1.5rem;
			padding: 1rem 1rem 0 0;
			color: rgba(0, 0, 0, 0.7);
			line-height: 1.8;
			text-align: left;
		}

		&__details {
			margin: 0 1.5rem 1rem;
			padding: 0 1rem 1rem 0;
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.3s ease-in-out;
			opacity: 0;
			visibility: hidden;

			&.expanded {
				max-height: 2000px;
				opacity: 1;
				visibility: visible;
			}
		}

		&__toggle {
			&:hover {
				color: colors.$bg-color-dark;
			}
		}
	}

	@media (min-width: 768px) {
		.offer {
			flex: 1 1 calc(50% - 2rem);
			max-width: calc(50% - 2rem);
		}
	}

	@media (min-width: 992px) {
		nav {
			.nav-item {
				opacity: 1;
				transform: translateY(0);
				transition: none;
			}
		}

		.offer {
			flex: 1 1 calc(33.333% - 2rem);
			max-width: calc(33.333% - 2rem);
		}
	}
}

// =============================
// FOOTER
// =============================

footer {
	position: relative;
	padding: 10px 0;
	width: 100%;
	color: colors.$white;
	background-color: colors.$bg-color-dark;
	text-align: center;
}

footer p {
	margin: 0;
	font-size: 0.8em;
}

// =============================
// MEDIA
// =============================

@media (min-width: 576px) {
	.petrol-stations {
		background: linear-gradient(120deg, colors.$white, colors.$light-gray);

		&__details {
			flex-direction: row;
		}
	}

	.fuel-distribution {
		&__text {
			line-height: 2.2em;
		}
	}

	.construction {
		&__text {
			line-height: 2.2em;
		}
	}

	.partner {
		&__text {
			line-height: 2.2em;
		}
	}
}

@media (min-width: 768px) {
	header.hero-img {
		background-image: url('../../dist/img/petrol_station_big.jpg');
		background-attachment: fixed;
	}

	.petrol-stations {
		h3 {
			font-size: 2.5em;
		}

		&__box {
			&-text {
				font-size: 1.1em;
			}
		}

		iframe {
			height: 200%;
		}
	}

	.hero-txt {
		h1 {
			font-size: 42px;
		}

		p {
			font-size: 20px;
		}
	}

	.fuel-distribution {
		background-image: url('../../dist/img/fuel-distribution_backing_big.jpg');

		&__box {
			&-text {
				font-size: 1.5rem;
			}
		}
	}

	.construction {
		&__box {
			flex-direction: row;
			gap: 2rem;

			&-img {
				width: 50%;
			}
		}

		&__text {
			font-size: 1.5rem;
			width: 50%;
			text-align: left;
		}
	}

	.partner {
		&__box {
			flex-direction: row;
			gap: 2rem;

			&-img {
				width: 50%;
			}
		}

		&__text {
			font-size: 1.5rem;
			width: 50%;
			text-align: left;
		}
	}

	.offers {
		.offer {
			flex: 1 1 calc(50% - 2rem);
			max-width: calc(50% - 2rem);
		}
	}

	.photo-modal-content {
		width: 60%;
		max-width: 60%;
	}
}

@media (min-width: 992px) {
	html {
		scroll-padding-top: 72px;
	}

	.petrol-stations {
		&__box {
			flex-direction: row;
			justify-content: space-between;
			margin: 5em 0;

			&-text {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				width: 50%;
				text-align: right;
			}

			&-img {
				&--right {
					order: 1;
				}
			}
		}

		&__title {
			font-size: 3.6rem;
			margin-bottom: 1rem;
		}

		&__text {
			font-size: 2.2rem;
		}

		&__img {
			margin-bottom: 0;
			max-height: 500px;
		}

		iframe {
			height: 200px;
		}
	}

	.fuel-distribution {
		&__box {
			flex-direction: row;

			&-img {
				width: 50vw;
			}

			&-text {
				width: 50vw;
				font-size: 1.4em;
			}
		}
	}

	.construction {
		&__box {
			flex-direction: row;
			padding: 4rem;
			gap: 3rem;

			&-img {
				width: 40vw;
			}

			&__text {
				font-size: 1.4rem;
				line-height: 2rem;
			}
		}

		&__text {
			width: 40vw;
			font-size: 1.4em;
			order: 0;
		}
	}

	.partner {
		&__box {
			flex-direction: row;
			padding: 4rem;
			gap: 3rem;

			&-img {
				width: 40vw;
			}

			&__text {
				font-size: 1.4rem;
				line-height: 2rem;
			}
		}

		&__text {
			width: 40vw;
			font-size: 1.4em;
			order: 0;
		}
	}

	.offers {
		.offer {
			flex: 1 1 calc(33.333% - 2rem);
			max-width: calc(33.333% - 2rem);
		}
	}
}
