@keyframes bounce {
	0%,
	100% {
		transform: translateX(-50%) translateY(0);
	}
	50% {
		transform: translateX(-50%) translateY(-10px);
	}
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
html {
	overflow-x: hidden;
}

html {
	scroll-padding-top: 75px;
}

body {
	background-color: #ebecf2;
	font-family: 'League Spartan', sans-serif;
	font-weight: 400;
}

hr {
	margin: 20px auto;
	text-align: center;
	width: 75%;
	border: none;
	border-top: 2px solid #000;
}

section {
	scroll-margin-top: 18px;
}

.blue-text {
	color: #1182a4;
}

.shadow-bg {
	background-color: rgba(0, 0, 0, 0.8);
}

.section-title {
	text-align: center;
	text-transform: uppercase;
}

.underline {
	margin: 0 auto 40px;
	width: 60px;
	height: 4px;
	background-color: #1182a4;
}

nav {
	text-transform: uppercase;
	z-index: 5;
	transition: background-color 0.6s;
}
nav #nav-icon {
	width: 60px;
	height: 45px;
	position: relative;
	margin: auto 0 auto auto;
	right: 0;
	transform: rotate(0deg);
	transform: scale(0.6);
	transition: 0.5s ease-in-out;
	cursor: pointer;
}
nav #nav-icon span {
	display: block;
	position: absolute;
	height: 9px;
	width: 100%;
	background: #1182a4;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: 0.25s ease-in-out;
}
nav #nav-icon span:nth-child(1) {
	top: 0px;
}
nav #nav-icon span:nth-child(2) {
	top: 18px;
}
nav #nav-icon span:nth-child(3) {
	top: 36px;
}
nav #nav-icon.open span:nth-child(1) {
	top: 18px;
	transform: rotate(135deg);
}
nav #nav-icon.open span:nth-child(2) {
	opacity: 0;
	left: -60px;
}
nav #nav-icon.open span:nth-child(3) {
	top: 18px;
	transform: rotate(-135deg);
}
nav .nav-item {
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 0.5s ease, transform 0.5s ease;
}
nav .nav-item.show {
	opacity: 1;
	transform: translateY(0);
}
nav .nav-item::after,
nav .nav-item::before {
	transition: 0.3s;
}
nav .nav-item::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px;
	width: 100%;
	background-color: #1182a4;
	transform: scaleX(0);
}
nav .nav-item:hover::after {
	transform: scaleX(1);
}
nav .navbar-toggler {
	padding: 15px;
	width: 0;
}
nav .navbar-brand {
	font-weight: bold;
	font-size: 1.4rem;
}
nav .navbar-brand img {
	margin: 0.5rem;
	height: 2rem;
	width: auto;
}
nav .nav-link,
nav .navbar-nav .nav-link.show,
nav .navbar-brand,
nav .fa-bars {
	color: white;
}
nav .navbar-nav .nav-link.active,
nav .navbar-nav .nav-link.show,
nav .navbar-brand:focus,
nav .navbar-brand:hover,
nav .nav-link:focus,
nav .nav-link:hover {
	color: #f0f0f0;
}

header.hero-img {
	position: relative;
	height: 100vh;
	background-image: url('../../dist/img/petrol_station_small.jpg');
	background-size: cover;
	background-position: center center;
	background-attachment: scroll;
	color: white;
	z-index: 0;
}
header.hero-img h1 {
	text-transform: uppercase;
}
header.hero-img h1 img {
	padding-right: 0.5rem;
	width: 3rem;
}
header.hero-img .hero-shadow {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: -5;
}
header.hero-img .hero-txt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}
header.hero-img .fa-chevron-down {
	display: block;
	position: absolute;
	bottom: 20px;
	left: 50%;
	padding: 40px;
	transform: translateX(-50%);
	font-size: 20px;
	color: white;
	animation: bounce 1s infinite;
	transition: transform 0.3s ease-in-out;
}

.aboutus i {
	margin-top: 20px;
	font-size: 30px;
}
.aboutus .aboutus-card-title {
	font-size: 18px;
	text-transform: uppercase;
}
.aboutus .aboutus-card-text {
	font-size: 14px;
}
.aboutus .aboutus-hover {
	transition: color 0.6s;
}
.aboutus .aboutus-hover:hover {
	color: #1182a4;
}

.petrol-stations {
	background: linear-gradient(120deg, #f0f0f0, white);
}
.petrol-stations h3 {
	margin-right: auto;
	text-transform: capitalize;
	font-size: 1.7rem;
	transition: color 0.3s;
	cursor: default;
}
.petrol-stations h3:hover {
	color: #1182a4;
}
.petrol-stations__box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2em;
}
.petrol-stations__box-img {
	overflow: hidden;
}
.petrol-stations__box-text {
	width: 100%;
}
.petrol-stations__img {
	width: 100%;
	height: 100%;
}
.petrol-stations__title {
	padding-bottom: 0.7em;
	font-size: 1.8rem;
}
.petrol-stations__details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.petrol-stations__details .station-info {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	text-align: left;
}
.petrol-stations__details .station-amenities {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
}
.petrol-stations iframe {
	width: 100%;
	height: 250px;
	border: none;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.petrol-stations p {
	padding: 0.2em;
}

.fuel-distribution {
	position: relative;
	background-image: url('../../dist/img/fuel-distribution_backing_small.jpg');
	background-size: cover;
	background-position: center center;
	z-index: 0;
}
.fuel-distribution h2 {
	color: white;
}
.fuel-distribution__img {
	width: 100%;
}
.fuel-distribution__box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 2em;
	gap: 2rem;
}
.fuel-distribution__box-img {
	width: 80vw;
}
.fuel-distribution__box-text {
	color: white;
}
.fuel-distribution__title {
	color: #f0f0f0;
	font-weight: 500;
	font-size: 2.4em;
}
.fuel-distribution__text {
	font-size: 1.3rem;
	line-height: 1.8em;
	text-justify: auto;
}
.fuel-distribution-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: -5;
}

.construction {
	background: linear-gradient(120deg, #f0f0f0, white);
}
.construction__box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.construction__text {
	font-size: 1.2rem;
	line-height: 1.8em;
	color: rgba(0, 0, 0, 0.8);
	text-align: center;
	padding: 1rem 2rem;
	order: 1;
}
.construction__img {
	height: 100%;
	width: 100%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.machinery-sales__link {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
}
.machinery-sales__link img {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	transition: transform 0.3s;
}
.machinery-sales__link img:hover {
	transform: scale(1.05);
}

.contact {
	position: relative;
}
.contact .section-title {
	color: #000;
}
.contact .contact-item {
	color: #333;
	margin: 30px 0;
}
.contact .contact-item .contact-title {
	color: #000;
	text-transform: uppercase;
	font-size: 1.5rem;
	letter-spacing: 1px;
}
.contact .contact-item .contact-text .social-media__box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.contact .contact-item .contact-text .social-media__box a {
	padding: 5px;
}
.contact .contact-item .contact-text a {
	padding: 25px;
	font-size: 25px;
	color: #000;
	transition: color 0.3s;
}
.contact .contact-item .contact-text a:hover {
	color: #1182a4;
}

.rental-offers {
	padding: 10rem 0;
	background: linear-gradient(120deg, white, #f0f0f0);
}
.rental-offers__grid {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	justify-content: center;
}
.rental-offers .rental-offer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	flex: 1 1 100%;
	max-width: 100%;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.1);
	overflow: hidden;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.rental-offers .rental-offer__img {
	width: 100%;
	height: 220px;
	overflow: hidden;
}
.rental-offers .rental-offer__img .rental-offer__image {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	transition: transform 0.3s ease-in-out;
}
.rental-offers .rental-offer__img .rental-offer__image:hover {
	transform: scale(1.05);
	filter: brightness(1.05);
}
.rental-offers .rental-offer .rental-info {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 10%;
	background-color: #ebecf2;
}
.rental-offers .rental-offer .rental-info p {
	margin-bottom: 0;
}
.rental-offers .rental-offer .rental-info a {
	text-decoration: none;
	color: #1182a4;
	transition: color 0.3s;
}
.rental-offers .rental-offer .rental-info a:hover {
	color: #333;
}
.rental-offers .rental-offer__title {
	padding: 1rem;
	width: 100%;
	text-align: left;
	font-size: 1.5rem;
	font-weight: 400;
	color: #1182a4;
	text-transform: uppercase;
}
.rental-offers .rental-offer__description {
	font-size: 1rem;
	margin: 0 1rem 1.5rem;
	color: rgba(0, 0, 0, 0.7);
	line-height: 1.8;
	text-align: left;
}
@media (min-width: 768px) {
	.rental-offers .rental-offer {
		flex: 1 1 calc(50% - 2rem);
		max-width: calc(50% - 2rem);
	}
}
@media (min-width: 992px) {
	.rental-offers nav .nav-item {
		opacity: 1;
		transform: translateY(0);
		transition: none;
	}
	.rental-offers .rental-offer {
		flex: 1 1 calc(33.333% - 2rem);
		max-width: calc(33.333% - 2rem);
	}
}

footer {
	position: relative;
	padding: 10px 0;
	width: 100%;
	color: white;
	background-color: #333;
	text-align: center;
}

footer p {
	margin: 0;
	font-size: 0.8em;
}

@media (min-width: 576px) {
	.petrol-stations {
		background: linear-gradient(120deg, white, #f0f0f0);
	}
	.petrol-stations__details {
		flex-direction: row;
	}
	.fuel-distribution__text {
		line-height: 2.2em;
	}
	.construction__text {
		line-height: 2.2em;
	}
}
@media (min-width: 768px) {
	header.hero-img {
		background-image: url('../../dist/img/petrol_station_big.jpg');
		background-attachment: fixed;
	}
	.petrol-stations h3 {
		font-size: 2.5em;
	}
	.petrol-stations__box-text {
		font-size: 1.1em;
	}
	.petrol-stations iframe {
		height: 200%;
	}
	.hero-txt h1 {
		font-size: 42px;
	}
	.hero-txt p {
		font-size: 20px;
	}
	.fuel-distribution {
		background-image: url('../../dist/img/fuel-distribution_backing_big.jpg');
	}
	.fuel-distribution__box-text {
		font-size: 1.5rem;
	}
	.construction__box {
		flex-direction: row;
		gap: 2rem;
	}
	.construction__box-img {
		width: 50%;
	}
	.construction__text {
		font-size: 1.5rem;
		width: 50%;
		text-align: left;
	}
	.rental-offers .rental-offer {
		flex: 1 1 calc(50% - 2rem);
		max-width: calc(50% - 2rem);
	}
	.photo-modal-content {
		width: 60%;
		max-width: 60%;
	}
}
@media (min-width: 992px) {
	html {
		scroll-padding-top: 72px;
	}
	.petrol-stations__box {
		flex-direction: row;
		justify-content: space-between;
		margin: 5em 0;
	}
	.petrol-stations__box-text {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		width: 50%;
		text-align: right;
	}
	.petrol-stations__box-img--right {
		order: 1;
	}
	.petrol-stations__title {
		font-size: 3.6rem;
		margin-bottom: 1rem;
	}
	.petrol-stations__text {
		font-size: 2.2rem;
	}
	.petrol-stations__img {
		margin-bottom: 0;
		max-height: 500px;
	}
	.petrol-stations iframe {
		height: 200px;
	}
	.fuel-distribution__box {
		flex-direction: row;
	}
	.fuel-distribution__box-img {
		width: 50vw;
	}
	.fuel-distribution__box-text {
		width: 50vw;
		font-size: 1.4em;
	}
	.construction__box {
		flex-direction: row;
		padding: 4rem;
		gap: 3rem;
	}
	.construction__box-img {
		width: 40vw;
	}
	.construction__box__text {
		font-size: 1.4rem;
		line-height: 2rem;
	}
	.construction__text {
		width: 40vw;
		font-size: 1.4em;
		order: 0;
	}
	.rental-offers .rental-offer {
		flex: 1 1 calc(33.333% - 2rem);
		max-width: calc(33.333% - 2rem);
	}
} /*# sourceMappingURL=main.css.map */
